.container {
  overflow: hidden;
  padding-bottom: 30px;
}

.childContainer {
  width: 90%;
  height: 100%;
  overflow-y: auto;
  margin-top: 40px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
