.container {
  overflow: hidden;
  padding-bottom: 30px;
}

.childContainer {
  overflow: scroll;
  height: 100vh;
  width: 2000px;
  margin-top: 40px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
